# Não manda os bancos
*.sqlite3

# Não manda os arquivos de configuração
.env

# Não manda a virtualenv
*venv*

# Não manda os arquivos cache
*.pyc

# Não manda a node_modules
node_modules

# Não manda parcel cache
.parcel-cache

# Não manda package-lock.json
package-lock.json
