{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        {% include './card_potential_growth.html' %}
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        {% include './card_revenue_current.html' %}
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        {% include './card_daily_income.html' %}
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        {% include './card_expense_current.html' %}
    </div>
</div>
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        {% include './card_transaction_history.html' %}
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        {% include './card_open_projects.html' %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4 grid-margin">
        {% include './card_revenue.html' %}
    </div>
    <div class="col-sm-4 grid-margin">
        {% include './card_sales.html' %}
    </div>
    <div class="col-sm-4 grid-margin">
        {% include './card_purchase.html' %}
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        {% include './card_order_status.html' %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-4 grid-margin stretch-card">
        {% include './card_messages.html' %}
    </div>
    <div class="col-md-6 col-xl-4 grid-margin stretch-card">
        {% include './card_portfolio_slide.html' %}
    </div>
    <div class="col-md-12 col-xl-4 grid-margin stretch-card">
        {% include './card_todo_list.html' %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% include './card_visitors_countries.html' %}
    </div>
</div>
{% endblock %}