{% extends 'base.html' %}
{% load static %}
{% block body_class %}{% endblock %}

{% block content %}
<form method="post" action="">
  {% csrf_token %}
  
  <div class="w-full h-screen flex flex-col justify-center">
    <div class="flex flex-col mx-auto items-center gap-16 bg-white border-[.0625rem] border-neutral-30 shadow-xs rounded p-24" >
      <div class="flex flex-col items-center gap-24 max-w-[22rem]">
        <svg class="w-120 h-[118px] ">
          <use xlink:href="#icon_sucess"></use>
        </svg>
        <div class="flex flex-col items-center gap-12">
          <p class="text-xl font-semibold text-neutral-90 block max-w-[13.375rem] mx-auto text-center">Redefinição de senha completa</p>
          <p class="subtitle text-neutral-70 text-center">Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
        </div>
        <a href="{% url 'login' %}" class="btn secondary mt-40 w-full h-48">Acessar</a>
      </div>
    </div>
  </div> 
  
</form>
{% endblock %}

{% block extra_js %}
<script>

	{% comment %} opção 2 {% endcomment %}
	function removePadding() {
		const container = document.querySelector('.container-main')
		container.style.paddingLeft = '0px'
	}


	(function init() {
		removePadding()
		GLOBAL.removeSidebar() // Global
	})()
</script>
{% endblock %}