{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body_class %}{% endblock %}

{% block content %}
<form method="post" action="{% url 'password_reset' %}">
	{% csrf_token %}

	<!-- div wrapper -->

	<div class="grid-template">
		<div class="container-left">
			<img src="{% static 'home/assets/src/img/logo-nova.png' %}" alt="logo">
		</div>

		<div class="container-right">

			<div
				class="flex flex-col gap-16 bg-white border-[.0625rem] border-neutral-30 shadow-xs rounded p-24 w-[25rem] divide-y-[.0625rem] divide-neutral-20">
				<div class="flex flex-col gap-20">
					<div class="flex items-center gap-4">
						<svg class="w-24 h-24 text-primary-pure">
							<use xlink:href="#icon_arrow_voltar"></use>
						</svg>
						<a href="{% url 'login' %}" class="appearance-none text-primary-pure text-sm ">Voltar</a>
					</div>
					<h1 class="flex items-center gap-10 text-[1.375rem] font-medium text-neutral-100">
						<svg class="w-40 h-40">
							<use xlink:href="#icon_security"></use>
						</svg>
						Redefinição de senha
					</h1>
					<p class="subtitle text-neutral-70">Para recuperar sua senha, insira seu e-mail cadastrado. </p>

				</div>
				<div class="flex flex-col gap-32 ">
					<div class="flex flex-col gap-24 mt-24">
						<div class="flex flex-col gap-4 ">
							<label class="label">Email</label>
							{{form.email|add_class:'input-text h-48'|attr:'js-ativo'}}
						</div>
					</div>
					{{form.non_field_errors}}
					<button type="submit" class="btn icon-left h-48 mt-32">
						Próximo
						<svg>
							<use xlink:href="#icon_btnEntrar"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- fim wrapper -->
</form>
{% endblock %}

{% block extra_js %}
<script>

	{% comment %} opção 2 {% endcomment %}
	function removePadding() {
		const container = document.querySelector('.container-main')
		container.style.paddingLeft = '0px'
	}


	(function init() {
		removePadding()
		GLOBAL.removeSidebar() // Global
	})()
</script>
{% endblock %}