{% extends "admin/index.html" %}
{% load static %}

{% block content %}
<section class="grid place-items-center max-w-[35rem] mx-auto">
	<div id="lottie-animation" style="width: 400px; height: 400px;"></div>

	<div class="-mt-12 flex flex-col gap-8">
		<h1 class="text-3xl font-bold tracking-tight text-gray-400 sm:text-5xl">Sucesso na inscrição!</h1>
		<p class="text-2xl leading-7 text-gray-600">Você se increveu no evento {{ object.nome }}.</p>
		<ul class="text-base">
			<p class="text-start">Dados do evento:</p>
			<li>Nome: {{ object.nome }}</li>
			<li>Descricao: {{ object.descricao }}</li>
			<li>Início: {{ object.data_inicial }}</li>
			<li>Fim: {{ object.data_final }}</li>
		</ul>
		<a 
			href="{% url 'admin:index' %}" 
			class="rounded-md bg-[#35A28D] px-3.5 py-2.5 text-sm text-center font-semibold text-white shadow-sm">
			Voltar para o início
		</a>
	</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"></script>
<script>
	const animation = lottie.loadAnimation({
		container: document.getElementById('lottie-animation'),
		renderer: 'svg',
		loop: true,
		autoplay: true,
		path: "{% static 'srp_app/success.json' %}"
	});
</script>
{% endblock %}