{% extends 'base.html' %}
{% load static %}
{% block body_class %}{% endblock %}

{% block content %}

<div class="w-full h-screen flex flex-col justify-center">
  <div class="flex flex-col mx-auto max-w-[25rem] items-center gap-16 bg-white border-[.0625rem] border-neutral-30 shadow-xs rounded p-24" >
		<div class="flex flex-col items-center gap-24 max-w-[22rem]">

			<svg class="w-120 h-[118px]">
				<use xlink:href="#icon-email"></use>
			</svg>
			<div class="flex flex-col items-center gap-12">
				<p class="text-xl font-semibold text-neutral-90 block max-w-[13.375rem] mx-auto text-center">Confira seu e-mail!</p>
				<p class="subtitle text-neutral-70 text-center">Enviamos um e-mail com instruções para redifinir sua senha</p>
			</div>
      <a href="{% url 'login' %}" class="btn secondary mt-40 w-full h-48">Ok</a>
		</div>
	</div>
</div>



{% endblock %}

{% block extra_js %}
<script>
	function removePadding() {
		const container = document.querySelector('.container-main')
		container.style.paddingLeft = '0px'
	}


	(function init() {
		removePadding()
		GLOBAL.removeSidebar() // Global
	})()
</script>
{% endblock %}